/*Gracias a esto, si tienes un elemento y le defines un ancho, al agregar padding no le va a afectar*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img{
  max-width: 100%;
  background-attachment: fixed;
}

body{
  font-family: 'Lato', sans-serif;
}

h2{
  font-family: 'Noto Serif', serif;
}


/**Imagenes**/
.logo{
  max-width: 100px;
  width: 70px;
}

.logo2{
  max-width: 100px;
  position: center center;
  margin-top: 10px;
  height: 50px;
  width: auto;
}

.bg-form{
  background-image:linear-gradient(rgba(255, 255, 255, 0.95),
  rgba(255,255,255,.6)),
  url(/img/Logo\ Alivio\ transparente.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}

.overlay-class{
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-content: center;
  align-items: center;
  z-index: 2;
}

/**Ventanas de información**/
.ventana-info{
  background-color: rgb(146, 152, 236);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
  width: 30%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 33px;
  min-height: 250px;
  border-radius: 22px;
  position: fixed;
  z-index: 2;
  display: none;
  left: 34%;
  top: 25%;
  opacity: .90;
}

.ventana-info h1{
  font-weight: 900;
  padding-bottom: 30px;
}

.ventana-terminos{
  background-color: lightgray;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
  overflow: scroll;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 33px;
  position: fixed;
  z-index: 2;
  display: none;
  width: 70%;
  height: 70%;
  opacity: .90;  
  left: 15%;
  top: 20%;
}

.botonCerrar{
  position: absolute;
  right: 3px;
  top: 1px;
  color: white;
}

.botonCerrar:hover{
  color: lightgray;
}


/**Iconos**/
.info-icon{
  margin: 8px 10px;
}

/**Header**/

.site-header{
  background-color: #754B8B;
}

.form-header{
  background-color: #D7C1E3;
}
